.Formulario{
    border: 5px solid var(--zupRed);
    color: var(--zupWhite);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 500px;
    height: 100%;
    flex-direction: column;
    padding: 20px 5px;
}

.Button{
    border: 1px solid var(--zupBlue);
    background-color: var(--zupAqua);
    color: var(--zupWhite);
    font-size: large;
    text-transform: uppercase;
    font-weight: 600;
}

.Button:hover{
    background-color: var(--zupRed);
    transition: 0.4s;
}