.Formulario{
    border: 1px blue solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 400px;
    height: 400px;
    flex-direction: column;
}