.Formulario{
    border: 1px blue solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 500px;
    height: 100%;
    flex-direction: column;
    padding: 20px 5px;
}