body {
  background-color: var(--zupDark);
  background-image: url(../images/Projeto\ Final\ _Estrelas_.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--zupWhite);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  height: 100vh;
  max-height: 960px;
  width: 100vw; 
  display: flex;
  justify-content: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  

:root{
  --zupDark:#0e1a33;
  --zupBlue: #0c3455;
  --zupAqua: #40ba8d;
  --zupAquaHover:#349471;
  --zupRed: #ef4123;
  --zupOrange:#f7941e;
  --zupOrangeHover:#ca7a19;
  --zupGreen:#8dc63f;
  --zupGreenHover:#729e34;
  --zupWhite: #e6e7e8;
  --zupBlueTransparent: #09172894;
  --zupWhiteTransparent:#e6e7e8c4;
}
